<script src="/assets/js/quote-api.js" type="text/javascript" async></script>
<script src="/assets/js/custom.js" type="text/javascript" async></script>
<script src="/assets/js/custom_test.js" type="text/javascript" async></script>
<script src="/assets/js/qmodal.js" type="text/javascript" async></script>
{% if page.mermaid %}
<style>
@media only screen and (max-width: 768px) {
  .mermaid {
    overflow: scroll;
  }
  .mermaid::-webkit-scrollbar {
    width: 0px;
  }
}
</style>
<script type="text/javascript" src="/assets/js/mermaid.8.5.0.min.js" async></script>
{% endif %}

{% if page.highlight %}
<link href="/assets/css/tango-highlight.css" rel="stylesheet" media="all">
{% endif %}

{% if page.glslEditor %}
<!-- Editor: https://github.com/patriciogonzalezvivo/glslEditor -->
<link type="text/css" rel="stylesheet" href="/tools/glsl_editor/glslEditor.css" media="all">
<script type="text/javascript" src="/tools/glsl_editor/glslEditor.js" async></script>
<!-- Gallery: https://github.com/patriciogonzalezvivo/glslGallery -->
<!-- <link type="text/css" rel="stylesheet" href="/tools/glsl_editor/glslGallery.css" media="all"> -->
<!-- <script type="text/javascript" src="/tools/glsl_editor/glslGallery.js" async></script> -->
{% endif %}

<!-- <script src="sw-register.js" async></script> -->
  
<!-- highlight text content -->
{%if page.highlight_text %}
<script>
  function highlight_text_content() {
    var bodyInnerHTML = document.body.innerHTML;

    /**Yellow*/
    {% assign txtArrYellow = page.highlight_yellow | split: ", " %}
    {% for txt in txtArrYellow %}
      bodyInnerHTML = bodyInnerHTML.replace(/{{ txt }}/g, "<span class='w3-yellow'>{{ txt }}</span>");
    {% endfor %}
    
    /**Green*/
    {% assign txtArrGreen = page.highlight_green | split: ", " %}
    {% for txt in txtArrGreen %}
      bodyInnerHTML = bodyInnerHTML.replace(/{{ txt }}/g, "<span class='w3-teal'>{{ txt }}</span>");
    {% endfor %}
    
    /**Red*/
    {% assign txtArrRed = page.highlight_red | split: ", " %}
    {% for txt in txtArrRed %}
      bodyInnerHTML = bodyInnerHTML.replace(/{{ txt }}/g, "<span class='w3-red'>{{ txt }}</span>");
    {% endfor %}
    
    /**Gray*/
    {% assign txtArrGray = page.highlight_gray | split: ", " %}
    {% for txt in txtArrGray %}
      bodyInnerHTML = bodyInnerHTML.replace(/{{ txt }}/g, "<span class='w3-gray'>{{ txt }}</span>");
    {% endfor %}

    document.body.innerHTML = bodyInnerHTML;
  }
</script>
{% endif %}