<div id="modalUnderMaintenance" class="w3-modal">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright" onclick="document.getElementById('modalUnderMaintenance').style.display='none'">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img src="/assets/img/articles/demo/helloworld4.jpg" style="width:100%">
        <h2 class="w3-padding w3-display-middle w3-white" onclick="document.getElementById('modalUnderMaintenance').style.display='none'">Under Maintenance</h2>
    </div>
</div>