---
layout: compress
---
html, body {
  scroll-behavior: smooth;
  /* font-family: 'Roboto', sans-serif;
  font-size: 16px; */
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
}
a:link {
  text-decoration: none;
}
.hoverLink {
  transition: 0.2s;
}
.hoverLink:hover {
  letter-spacing: 2.3px;
  transition: 0.4s;
  /* text-shadow: 1px 2px 1px rgb(231, 231, 231); */
}
table.th-green > thead > tr {
  color: #fff!important;
  background-color: #4CAF50!important;
}
table.th-blue > thead > tr {
  color: #fff!important;
  background-color: #2196F3!important;
}
table.th-orange > thead > tr {
  color: #fff!important;
  background-color: #ff5722!important;
}
table.th-indigo > thead > tr {
  color: #fff!important;
  background-color: #3f51b5!important;
}
ul > a {
  width: 100%;
}
/* Common classes */

#search-input {
  outline: none;
  padding: 15px 25px;
  margin: 5px 1px 3px 0px;
  border: none;
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#search-input-cheat {
  outline: none;
  padding: 15px 25px;
  margin: 5px 1px 3px 0px;
  border: none;
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#scrollTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1em; /* Place the button at the bottom of the page */
  right: 1em; /* Place the button 30px from the right */
  /* z-index: 99; Make sure it does not overlap */
}
#audioControlGroup {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 25%; /* Place the button at the bottom of the page */
  left: 1em; /* Place the button 30px from the right */
  /* z-index: 99; Make sure it does not overlap */
}

/* Adding 'Contents' headline to the TOC */
.toc-nav::before {
  content: "TABLE OF CONTENT" !important;
  font-weight: bold;
}
.toc-nav::after {
  content: "";
  padding: 2em !important;
}
.toc-nav {
  display:none;
  list-style-type: none;
  padding-top:6em;
  position: fixed;
  right: 0em;
  top: 0em;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: scroll;
}
.toc-nav::-webkit-scrollbar {
  width: 0px;
}

.tocMenu {
  position: fixed;
  right: 1em;
  top: 6em;
}

.w3-animate-opacity-slow {
  animation: opac 1.8s;
}
.opacity-transition-hover {
  opacity: 0.3;
  transition: 0.5s;
}
.opacity-transition-hover:hover {
  opacity: 1;
}

#navbar {
  transition: top 0.3s;
}

.progress-bar {
  /* height: 3px;
  background: #3f51b5; #3f51b536;
  width: 0%; */
  position: absolute;
  bottom: 0px;
  height: 2px;
  background: #3f51b5;
}

.layer-mark {
  background-color: rgba(0, 0, 0, 0.26);
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.layer-mark:hover {
  opacity: 1;
  transition: 0.8s;
}
.img-sepia {
  filter:sepia(75%);
  transition: 0.8s;
}
.img-sepia:hover {
  filter:sepia(100%);
  transition: 0.8s;
}
.bg-mark {
  background-color: rgba(0, 0, 0, 0.26);
  transition: 0.3s;
}
.bg-mark:hover {
  background-color: rgba(0, 0, 0, 0.46);
  transition: 0.3s;
}

.cursor-zoom {
  cursor: zoom-in;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width:600px) {
  .mobile-width-100 {
    width: 100%;
  }
}

.konamiHide {
  display: none;
}